@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff; /* fundo branco */
  color: #333;
}

/* Animação WhatsApp */
.pulse-animation {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(67, 147, 211, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(67, 147, 211, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Sombra padrão para cards */
.shadow-card {
  box-shadow: 0 8px 20px rgba(67, 147, 211, 0.08);
}

/* Paleta personalizada */
:root {
  --custom-blue: #4393d3;           /* azul principal */
  --custom-blue-dark: #367bb5;      /* azul mais escuro (hover) */
  --custom-blue-light: #7db7f2;     /* azul mais claro (efeitos e destaque) */
  --background-light: #ffffff;      /* fundo branco */
}

/* Fundos */
.bg-fundo {
  background-color: var(--background-light);
}
.bg-customBlue {
  background-color: var(--custom-blue);
}
.bg-customBlueDark {
  background-color: var(--custom-blue-dark);
}

/* Textos */
.text-customBlue {
  color: var(--custom-blue);
}
.text-customBlueLight {
  color: var(--custom-blue-light);
}
.text-customBlueDark {
  color: var(--custom-blue-dark);
}
/* Botões */
.btn {
  background-color: var(--custom-blue);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
